In [64]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [65]:
df = pd.read_excel('salary_data_states_corrected.xlsx')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167278 entries, 0 to 167277
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     167278 non-null  object
 1   CASE_STATUS                     167278 non-null  object
 2   CASE_RECEIVED_DATE              167278 non-null  object
 3   DECISION_DATE                   167278 non-null  object
 4   EMPLOYER_NAME                   167278 non-null  object
 5   PREVAILING_WAGE_SUBMITTED       167278 non-null  float64
 6   PREVAILING_WAGE_SUBMITTED_UNIT  167278 non-null  object
 7   PAID_WAGE_SUBMITTED             167278 non-null  float64
 8   PAID_WAGE_SUBMITTED_UNIT        167278 non-null  object
 9   JOB_TITLE                       167278 non-null  object
 10  WORK_CITY                       167275 non-null  object
 11  EDUCATION_LEVEL_REQUIRED        11093 non-null   object
 12  COLLEGE_MAJOR_REQUIRED          11051 non-null   object
 13  EXPERIENCE_REQUIRED_Y_N         11093 non-null   object
 14  EXPERIENCE_REQUIRED_NUM_MONTHS  4965 non-null    float64
 15  COUNTRY_OF_CITIZENSHIP          11093 non-null   object
 16  PREVAILING_WAGE_SOC_CODE        167278 non-null  object
 17  PREVAILING_WAGE_SOC_TITLE       167278 non-null  object
 18  WORK_STATE                      167278 non-null  object
 19  WORK_STATE_ABBREVIATION         167278 non-null  object
 20  WORK_POSTAL_CODE                53674 non-null   object
 21  FULL_TIME_POSITION_Y_N          156185 non-null  object
 22  VISA_CLASS                      167278 non-null  object
 23  PREVAILING_WAGE_PER_YEAR        167210 non-null  float64
 24  PAID_WAGE_PER_YEAR              167278 non-null  float64
 25  JOB_TITLE_SUBGROUP              167278 non-null  object
 26  order                           167278 non-null  int64
dtypes: float64(5), int64(1), object(21)
memory usage: 34.5+ MB

In [67]:
df.describe()

,PREVAILING_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED,EXPERIENCE_REQUIRED_NUM_MONTHS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,order
count,1.672780e+05,1.672780e+05,4965.000000,167210.000000,1.672780e+05,167278.000000
mean,7.115752e+04,8.164186e+04,34.692044,74274.868236,8.553277e+04,83714.716305
std,3.874624e+04,4.147703e+04,22.317783,25356.245893,3.873847e+04,48300.236431
min,5.050000e+00,5.050000e+00,0.000000,10504.000000,1.050000e+04,1.000000
25%,5.447500e+04,6.100000e+04,12.000000,56880.000000,6.300000e+04,41901.250000
50%,6.970100e+04,7.700000e+04,24.000000,70928.000000,7.860000e+04,83722.500000
75%,8.993700e+04,1.000000e+05,60.000000,90459.000000,1.000060e+05,125541.750000
max,6.217100e+06,2.500000e+06,144.000000,320000.000000,2.500000e+06,167361.000000

In [68]:
df['WORK_STATE'].value_counts(sort = True, ascending = False)

California                  46782
Texas                       15498
New York                    11373
New Jersey                  10198
Illinois                     7411
Massachusetts                6848
Virginia                     6031
Georgia                      5615
Pennsylvania                 4725
Washington                   4610
Florida                      4064
Michigan                     3844
North Carolina               3578
Maryland                     3275
Ohio                         3192
Missouri                     2773
Arizona                      2570
Minnesota                    2116
Connecticut                  2023
Indiana                      1617
Colorado                     1614
Oregon                       1535
Wisconsin                    1433
District of Columbia         1370
Tennessee                    1087
Iowa                         1012
Louisiana                     883
Delaware                      874
South Carolina                851
Utah                          757
Kansas                        746
Kentucky                      641
Nebraska                      598
New Mexico                    575
Alabama                       559
Arkansas                      558
Oklahoma                      551
Rhode Island                  528
Nevada                        427
New Hampshire                 427
Mississippi                   343
West Virginia                 307
Maine                         216
Idaho                         186
Hawaii                        170
North Dakota                  138
Vermont                       131
Puerto Rico                   109
Virgin Islands                109
South Dakota                  105
Alaska                         66
Montana                        63
Guam                           61
Northern Mariana Islands       58
Wyoming                        45
Palau                           1
Guamam                          1
Name: WORK_STATE, dtype: int64

In [69]:
df_numeric = df.set_index(['WORK_STATE', 'JOB_TITLE', 'PAID_WAGE_PER_YEAR']).select_dtypes('number')
df_numeric.head(21)

                                                                       PREVAILING_WAGE_SUBMITTED  \
WORK_STATE     JOB_TITLE                           PAID_WAGE_PER_YEAR
Illinois       SOFTWARE ENGINEER                   62171.0                             6217100.0
California     Assistant Professor of Marketing    91440.0                             5067600.0
               SPECIAL EDUCATION TEACHER           49470.0                             4947000.0
Texas          SCIENCE TEACHER                     43800.0                              251052.0
Oregon         SENIOR SOFTWARE ENGINEER            170000.0                              84573.0
California     ORACLE SCM ANALYST/BUSINESS ANALYST 114421.0                             113610.0
               SENIOR SOFTWARE ENGINEER            145000.0                            1333328.0
New Jersey     SOFTWARE ENGINEER                   104458.0                             104458.0
New York       SOFTWARE ENGINEER                   160000.0                            1212002.0
California     SOFTWARE ENGINEER                   98675.0                               98675.0
Connecticut    SR. SOFTWARE ENGINEER               110000.0                              98654.0
Washington     SR. BUSINESS ANALYST                115000.0                            1111176.0
California     SOFTWARE ENGINEER                   90460.0                               90460.0
Oregon         SOFTWARE ENGINEER                   82846.0                               82846.0
California     SOFTWARE ENGINEER                   105000.0                             987675.0
Maryland       SOFTWARE ENGINEER                   96300.0                              963000.0
Oregon         PROTOCOL SOFTWARE ENGINEER          115000.0                             926914.0
California     SENIOR SOFTWARE ENGINEER            92352.0                              923252.0
North Carolina SOFTWARE ENGINEER                   75982.0                               75982.0
New York       SOFTWARE ENGINEER                   100001.0                             890000.0
Washington     SOFTWARE ENGINEER, TEST ENGINEERING 90000.0                              875747.0

                                                                       PAID_WAGE_SUBMITTED  \
WORK_STATE     JOB_TITLE                           PAID_WAGE_PER_YEAR
Illinois       SOFTWARE ENGINEER                   62171.0                         62171.0
California     Assistant Professor of Marketing    91440.0                         91440.0
               SPECIAL EDUCATION TEACHER           49470.0                         49470.0
Texas          SCIENCE TEACHER                     43800.0                         43800.0
Oregon         SENIOR SOFTWARE ENGINEER            170000.0                       170000.0
California     ORACLE SCM ANALYST/BUSINESS ANALYST 114421.0                       114421.0
               SENIOR SOFTWARE ENGINEER            145000.0                       145000.0
New Jersey     SOFTWARE ENGINEER                   104458.0                       104458.0
New York       SOFTWARE ENGINEER                   160000.0                       160000.0
California     SOFTWARE ENGINEER                   98675.0                         98675.0
Connecticut    SR. SOFTWARE ENGINEER               110000.0                       110000.0
Washington     SR. BUSINESS ANALYST                115000.0                       115000.0
California     SOFTWARE ENGINEER                   90460.0                         90460.0
Oregon         SOFTWARE ENGINEER                   82846.0                         82846.0
California     SOFTWARE ENGINEER                   105000.0                       105000.0
Maryland       SOFTWARE ENGINEER                   96300.0                         96300.0
Oregon         PROTOCOL SOFTWARE ENGINEER          115000.0                       115000.0
California     SENIOR SOFTWARE ENGINEER            92352.0                         92352.0
North Carolina SOFTWARE ENGINEER                   75982.0                         75982.0
New York       SOFTWARE ENGINEER                   100001.0                       100001.0
Washington     SOFTWARE ENGINEER, TEST ENGINEERING 90000.0                         90000.0

                                                                       EXPERIENCE_REQUIRED_NUM_MONTHS  \
WORK_STATE     JOB_TITLE                           PAID_WAGE_PER_YEAR
Illinois       SOFTWARE ENGINEER                   62171.0                                        NaN
California     Assistant Professor of Marketing    91440.0                                        NaN
               SPECIAL EDUCATION TEACHER           49470.0                                        NaN
Texas          SCIENCE TEACHER                     43800.0                                        NaN
Oregon         SENIOR SOFTWARE ENGINEER            170000.0                                       NaN
California     ORACLE SCM ANALYST/BUSINESS ANALYST 114421.0                                       NaN
               SENIOR SOFTWARE ENGINEER            145000.0                                       NaN
New Jersey     SOFTWARE ENGINEER                   104458.0                                       NaN
New York       SOFTWARE ENGINEER                   160000.0                                       NaN
California     SOFTWARE ENGINEER                   98675.0                                        NaN
Connecticut    SR. SOFTWARE ENGINEER               110000.0                                       NaN
Washington     SR. BUSINESS ANALYST                115000.0                                       NaN
California     SOFTWARE ENGINEER                   90460.0                                        NaN
Oregon         SOFTWARE ENGINEER                   82846.0                                        NaN
California     SOFTWARE ENGINEER                   105000.0                                       NaN
Maryland       SOFTWARE ENGINEER                   96300.0                                        NaN
Oregon         PROTOCOL SOFTWARE ENGINEER          115000.0                                       NaN
California     SENIOR SOFTWARE ENGINEER            92352.0                                        NaN
North Carolina SOFTWARE ENGINEER                   75982.0                                        NaN
New York       SOFTWARE ENGINEER                   100001.0                                       NaN
Washington     SOFTWARE ENGINEER, TEST ENGINEERING 90000.0                                        NaN

                                                                       PREVAILING_WAGE_PER_YEAR  \
WORK_STATE     JOB_TITLE                           PAID_WAGE_PER_YEAR
Illinois       SOFTWARE ENGINEER                   62171.0                                  NaN
California     Assistant Professor of Marketing    91440.0                                  NaN
               SPECIAL EDUCATION TEACHER           49470.0                                  NaN
Texas          SCIENCE TEACHER                     43800.0                                  NaN
Oregon         SENIOR SOFTWARE ENGINEER            170000.0                                 NaN
California     ORACLE SCM ANALYST/BUSINESS ANALYST 114421.0                                 NaN
               SENIOR SOFTWARE ENGINEER            145000.0                                 NaN
New Jersey     SOFTWARE ENGINEER                   104458.0                                 NaN
New York       SOFTWARE ENGINEER                   160000.0                                 NaN
California     SOFTWARE ENGINEER                   98675.0                                  NaN
Connecticut    SR. SOFTWARE ENGINEER               110000.0                                 NaN
Washington     SR. BUSINESS ANALYST                115000.0                                 NaN
California     SOFTWARE ENGINEER                   90460.0                                  NaN
Oregon         SOFTWARE ENGINEER                   82846.0                                  NaN
California     SOFTWARE ENGINEER                   105000.0                                 NaN
Maryland       SOFTWARE ENGINEER                   96300.0                                  NaN
Oregon         PROTOCOL SOFTWARE ENGINEER          115000.0                                 NaN
California     SENIOR SOFTWARE ENGINEER            92352.0                                  NaN
North Carolina SOFTWARE ENGINEER                   75982.0                                  NaN
New York       SOFTWARE ENGINEER                   100001.0                                 NaN
Washington     SOFTWARE ENGINEER, TEST ENGINEERING 90000.0                                  NaN

                                                                       order
WORK_STATE     JOB_TITLE                           PAID_WAGE_PER_YEAR
Illinois       SOFTWARE ENGINEER                   62171.0                 1
California     Assistant Professor of Marketing    91440.0                 2
               SPECIAL EDUCATION TEACHER           49470.0                 3
Texas          SCIENCE TEACHER                     43800.0                 4
Oregon         SENIOR SOFTWARE ENGINEER            170000.0                5
California     ORACLE SCM ANALYST/BUSINESS ANALYST 114421.0                6
               SENIOR SOFTWARE ENGINEER            145000.0                7
New Jersey     SOFTWARE ENGINEER                   104458.0                8
New York       SOFTWARE ENGINEER                   160000.0                9
California     SOFTWARE ENGINEER                   98675.0                10
Connecticut    SR. SOFTWARE ENGINEER               110000.0               11
Washington     SR. BUSINESS ANALYST                115000.0               12
California     SOFTWARE ENGINEER                   90460.0                13
Oregon         SOFTWARE ENGINEER                   82846.0                14
California     SOFTWARE ENGINEER                   105000.0               15
Maryland       SOFTWARE ENGINEER                   96300.0                16
Oregon         PROTOCOL SOFTWARE ENGINEER          115000.0               17
California     SENIOR SOFTWARE ENGINEER            92352.0                18
North Carolina SOFTWARE ENGINEER                   75982.0                19
New York       SOFTWARE ENGINEER                   100001.0               20
Washington     SOFTWARE ENGINEER, TEST ENGINEERING 90000.0                21

In [70]:
df['JOB_TITLE'].value_counts(sort = True, ascending = False)

SOFTWARE ENGINEER                                54478
BUSINESS ANALYST                                 19516
SENIOR SOFTWARE ENGINEER                         11714
ASSISTANT PROFESSOR                              10134
Software Engineer                                 3743
                                                 ...
SENIOR SOFTWARE ENGINEER (PRODUCT SPECIALIST)        1
SOFTWARE ENGINEER - SENIOR KERNEL GENERALIST         1
SENIOR ORACLE APPS SOFTWARE ENGINEER                 1
ASSISTANT PROFESSOR OF FINANACE                      1
BILINGUAL SPECIAL EDUCATION TEACHER ASSISTANT        1
Name: JOB_TITLE, Length: 12589, dtype: int64

In [71]:
#JOB_TITLE_SUBGROUP

df['JOB_TITLE_SUBGROUP'].value_counts(sort = True, ascending = False)

software engineer        99364
business analyst         27811
assistant professor      18866
teacher                  13912
data analyst              3840
attorney                  1488
data scientist            1227
management consultant      770
Name: JOB_TITLE_SUBGROUP, dtype: int64

In [72]:
df['PAID_WAGE_PER_YEAR'].describe()

count    1.672780e+05
mean     8.553277e+04
std      3.873847e+04
min      1.050000e+04
25%      6.300000e+04
50%      7.860000e+04
75%      1.000060e+05
max      2.500000e+06
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [73]:
df['PAID_WAGE_PER_YEAR'].max()

2500000.0

In [74]:
df.loc[df['WORK_STATE']=='California'].head(21)

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.0,year,91440.0,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.0,year,49470.0,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
5,I-200-14092-483272,denied,4/2/2014,4/9/2014,CAPGEMINI U.S. LLC,113610.0,month,114421.0,year,ORACLE SCM ANALYST/BUSINESS ANALYST,...,Computer Systems Analysts,California,CA,NaN,y,H-1B,NaN,114421.0,business analyst,6
6,I-200-13084-487292,denied,3/25/2013,3/28/2013,"PURE STORAGE, INC.",1333328.0,year,145000.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,145000.0,software engineer,7
9,I-200-14069-400950,denied,3/10/2014,3/18/2014,"STLPORT CONSULTING, INC.",98675.0,month,98675.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,98675.0,software engineer,10
12,I-200-11172-152960,certified-withdrawn,6/21/2011,9/13/2013,SYMANTEC CORPORATION,90460.0,month,90460.0,year,SOFTWARE ENGINEER,...,"Computer Software Engineers, Applications",California,CA,NaN,y,H-1B,NaN,90460.0,software engineer,13
14,I-200-14027-258414,denied,2/5/2014,2/10/2014,GOOGLE INC.,987675.0,year,105000.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,105000.0,software engineer,15
17,I-200-13311-440603,denied,11/19/2013,11/22/2013,QUALCOMM INNOVATION CENTER INC.,923252.0,year,92352.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",California,CA,NaN,y,H-1B,NaN,92352.0,software engineer,18
21,I-200-13240-569816,denied,8/29/2013,9/6/2013,DEALERSOCKET,72883.0,month,85000.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,85000.0,software engineer,22
24,I-200-13045-026419,denied,3/6/2013,3/18/2013,GOOGLE INC.,848202.0,year,100000.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,100000.0,software engineer,25
59,I-200-14133-980882,denied,5/13/2014,5/20/2014,"UBER TECHNOLOGIES, INC.",411267.0,year,140000.0,year,SR. SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,140000.0,software engineer,60
63,I-200-13072-437950,certified,3/13/2013,3/19/2013,HOLLYWOOD PRESCHOOL AND KINDERGARTEN,31034.0,month,31034.0,month,KINDERGARTEN TEACHER,...,"Kindergarten Teachers, Except Special Education",California,CA,NaN,y,H-1B,NaN,372408.0,teacher,64
94,I-203-14043-770403,certified,2/19/2014,2/25/2014,JONES DAY,224536.0,year,235000.0,year,ASSOCIATE ATTORNEY,...,Lawyers,California,CA,NaN,y,E-3 Australian,224536.0,235000.0,attorney,95
95,I-200-14072-827653,certified,3/17/2014,3/21/2014,FENWICK & WEST LLP,224536.0,year,224536.0,year,ATTORNEY,...,Lawyers,California,CA,NaN,y,H-1B,224536.0,224536.0,attorney,96
100,I-200-14364-241121,certified,12/31/2014,1/8/2015,GOOGLE INC.,214864.0,year,236500.0,year,SOFTWARE ENGINEERING MANAGER,...,COMPUTER AND INFORMATION SYSTEMS MANAGERS,California,CA,94043,y,H-1B,214864.0,236500.0,software engineer,101
103,I-200-13051-973206,certified,2/20/2013,2/26/2013,HANSON BRIDGETT LLP,210912.0,year,230000.0,year,ATTORNEY,...,Lawyers,California,CA,NaN,y,H-1B,210912.0,230000.0,attorney,104
104,I-200-13084-577162,certified,4/3/2013,4/9/2013,COOLEY LLP,210912.0,year,212000.0,year,ASSOCIATE ATTORNEY,...,Lawyers,California,CA,NaN,y,H-1B,210912.0,212000.0,attorney,105
105,I-200-14197-980432,certified,7/22/2014,7/28/2014,"FACEBOOK, INC.",210389.0,year,247200.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,210389.0,247200.0,software engineer,106
106,I-200-14079-383510,certified,3/21/2014,3/27/2014,FENWICK &AMP; WEST LLP,209414.0,year,231000.0,year,ATTORNEY,...,Lawyers,California,CA,NaN,y,H-1B,209414.0,231000.0,attorney,107
107,I-200-14021-692687,certified-withdrawn,1/21/2014,8/1/2014,O'MELVENY &AMP; MYERS LLP,209414.0,year,230000.0,year,ASSOCIATE ATTORNEY,...,Lawyers,California,CA,NaN,y,H-1B,209414.0,230000.0,attorney,108
108,I-200-14098-468025,certified,4/8/2014,4/14/2014,"CA, INC.",209102.0,year,275000.0,year,"VP, SOFTWARE ENGINEERING",...,Computer and Information Systems Managers,California,CA,NaN,y,H-1B,209102.0,275000.0,software engineer,109

In [75]:
df.loc[df['PAID_WAGE_PER_YEAR'] == df['PAID_WAGE_PER_YEAR'].max(), 'JOB_TITLE_SUBGROUP']

232    attorney
Name: JOB_TITLE_SUBGROUP, dtype: object

In [76]:
df_numeric = df.set_index(['WORK_STATE', 'JOB_TITLE_SUBGROUP', 'PAID_WAGE_PER_YEAR']).select_dtypes('number')
df_numeric.sort_values(
by = ['PAID_WAGE_PER_YEAR'],
ascending=False).head(30)

                                                             PREVAILING_WAGE_SUBMITTED  \
WORK_STATE           JOB_TITLE_SUBGROUP  PAID_WAGE_PER_YEAR
District of Columbia attorney            2500000.00                           192379.0
New York             attorney            2400000.00                           207106.0
District of Columbia attorney            2400000.00                           188053.0
                                         2400000.00                           188053.0
                                         2400000.00                           188053.0
Alabama              software engineer   1400000.00                           101462.0
Texas                business analyst    1250784.00                            69306.0
                                         1250784.00                            69306.0
                     software engineer   1224800.60                            78915.0
Washington           software engineer   1222788.00                           101899.0
Pennsylvania         software engineer   1176000.00                            94370.0
                                         1139001.00                            71822.0
Illinois             business analyst    1103711.73                            62525.0
Georgia              software engineer   1080000.00                            73445.0
Minnesota            software engineer   1000906.00                            95971.0
California           software engineer   990000.00                             84802.0
Minnesota            business analyst    960000.00                             77750.0
Massachusetts        software engineer   960000.00                             85446.0
North Carolina       software engineer   950000.00                             88067.0
California           software engineer   947100.00                             79269.0
Maryland             software engineer   930000.00                             91874.0
Illinois             software engineer   930000.00                             71136.0
Massachusetts        software engineer   915000.00                             85446.0
Utah                 assistant professor 895000.00                             80490.0
California           software engineer   885000.00                             88254.0
                                         874596.00                             72883.0
Georgia              software engineer   870000.00                             86258.0
New York             assistant professor 865920.00                             38460.0
                     attorney            825000.00                            164070.0
Texas                assistant professor 820000.00                             64810.0

                                                             PAID_WAGE_SUBMITTED  \
WORK_STATE           JOB_TITLE_SUBGROUP  PAID_WAGE_PER_YEAR
District of Columbia attorney            2500000.00                   2500000.00
New York             attorney            2400000.00                   2400000.00
District of Columbia attorney            2400000.00                   2400000.00
                                         2400000.00                   2400000.00
                                         2400000.00                   2400000.00
Alabama              software engineer   1400000.00                   1400000.00
Texas                business analyst    1250784.00                    104232.00
                                         1250784.00                    104232.00
                     software engineer   1224800.60                   1224800.60
Washington           software engineer   1222788.00                    101899.00
Pennsylvania         software engineer   1176000.00                     98000.00
                                         1139001.00                   1139001.00
Illinois             business analyst    1103711.73                   1103711.73
Georgia              software engineer   1080000.00                     90000.00
Minnesota            software engineer   1000906.00                   1000906.00
California           software engineer   990000.00                     990000.00
Minnesota            business analyst    960000.00                      80000.00
Massachusetts        software engineer   960000.00                     960000.00
North Carolina       software engineer   950000.00                     950000.00
California           software engineer   947100.00                     947100.00
Maryland             software engineer   930000.00                     930000.00
Illinois             software engineer   930000.00                     930000.00
Massachusetts        software engineer   915000.00                     915000.00
Utah                 assistant professor 895000.00                     895000.00
California           software engineer   885000.00                     885000.00
                                         874596.00                      72883.00
Georgia              software engineer   870000.00                     870000.00
New York             assistant professor 865920.00                      72160.00
                     attorney            825000.00                     825000.00
Texas                assistant professor 820000.00                     820000.00

                                                             EXPERIENCE_REQUIRED_NUM_MONTHS  \
WORK_STATE           JOB_TITLE_SUBGROUP  PAID_WAGE_PER_YEAR
District of Columbia attorney            2500000.00                                     NaN
New York             attorney            2400000.00                                     NaN
District of Columbia attorney            2400000.00                                     NaN
                                         2400000.00                                     NaN
                                         2400000.00                                     NaN
Alabama              software engineer   1400000.00                                     NaN
Texas                business analyst    1250784.00                                     NaN
                                         1250784.00                                     NaN
                     software engineer   1224800.60                                     NaN
Washington           software engineer   1222788.00                                     NaN
Pennsylvania         software engineer   1176000.00                                     NaN
                                         1139001.00                                     NaN
Illinois             business analyst    1103711.73                                     NaN
Georgia              software engineer   1080000.00                                     NaN
Minnesota            software engineer   1000906.00                                     NaN
California           software engineer   990000.00                                      NaN
Minnesota            business analyst    960000.00                                      NaN
Massachusetts        software engineer   960000.00                                      NaN
North Carolina       software engineer   950000.00                                      NaN
California           software engineer   947100.00                                      NaN
Maryland             software engineer   930000.00                                      NaN
Illinois             software engineer   930000.00                                      NaN
Massachusetts        software engineer   915000.00                                      NaN
Utah                 assistant professor 895000.00                                      NaN
California           software engineer   885000.00                                      NaN
                                         874596.00                                      NaN
Georgia              software engineer   870000.00                                      NaN
New York             assistant professor 865920.00                                      NaN
                     attorney            825000.00                                      NaN
Texas                assistant professor 820000.00                                      NaN

                                                             PREVAILING_WAGE_PER_YEAR  \
WORK_STATE           JOB_TITLE_SUBGROUP  PAID_WAGE_PER_YEAR
District of Columbia attorney            2500000.00                          192379.0
New York             attorney            2400000.00                          207106.0
District of Columbia attorney            2400000.00                          188053.0
                                         2400000.00                          188053.0
                                         2400000.00                          188053.0
Alabama              software engineer   1400000.00                          101462.0
Texas                business analyst    1250784.00                           69306.0
                                         1250784.00                           69306.0
                     software engineer   1224800.60                           78915.0
Washington           software engineer   1222788.00                          101899.0
Pennsylvania         software engineer   1176000.00                           94370.0
                                         1139001.00                           71822.0
Illinois             business analyst    1103711.73                           62525.0
Georgia              software engineer   1080000.00                           73445.0
Minnesota            software engineer   1000906.00                           95971.0
California           software engineer   990000.00                            84802.0
Minnesota            business analyst    960000.00                            77750.0
Massachusetts        software engineer   960000.00                            85446.0
North Carolina       software engineer   950000.00                            88067.0
California           software engineer   947100.00                            79269.0
Maryland             software engineer   930000.00                            91874.0
Illinois             software engineer   930000.00                            71136.0
Massachusetts        software engineer   915000.00                            85446.0
Utah                 assistant professor 895000.00                            80490.0
California           software engineer   885000.00                            88254.0
                                         874596.00                            72883.0
Georgia              software engineer   870000.00                            86258.0
New York             assistant professor 865920.00                            38460.0
                     attorney            825000.00                           164070.0
Texas                assistant professor 820000.00                            64810.0

                                                              order
WORK_STATE           JOB_TITLE_SUBGROUP  PAID_WAGE_PER_YEAR
District of Columbia attorney            2500000.00             233
New York             attorney            2400000.00             161
District of Columbia attorney            2400000.00             267
                                         2400000.00             268
                                         2400000.00             269
Alabama              software engineer   1400000.00           23352
Texas                business analyst    1250784.00           87865
                                         1250784.00           87864
                     software engineer   1224800.60           63820
Washington           software engineer   1222788.00           22992
Pennsylvania         software engineer   1176000.00           34833
                                         1139001.00           80583
Illinois             business analyst    1103711.73          104744
Georgia              software engineer   1080000.00           75811
Minnesota            software engineer   1000906.00           33052
California           software engineer   990000.00            52166
Minnesota            business analyst    960000.00            65768
Massachusetts        software engineer   960000.00            51115
North Carolina       software engineer   950000.00            47454
California           software engineer   947100.00            63197
Maryland             software engineer   930000.00            39931
Illinois             software engineer   930000.00            82998
Massachusetts        software engineer   915000.00            51116
Utah                 assistant professor 895000.00            61361
California           software engineer   885000.00            46228
                                         874596.00            77981
Georgia              software engineer   870000.00            50208
New York             assistant professor 865920.00           158849
                     attorney            825000.00              565
Texas                assistant professor 820000.00            97588

In [77]:
df_numeric = df.set_index(['WORK_STATE', 'JOB_TITLE_SUBGROUP', 'PAID_WAGE_PER_YEAR']).select_dtypes('number')
df_numeric.sort_values(
by = ({'PAID_WAGE_PER_YEAR':[software engineer, business analyst]})
ascending=False).head(30)

SyntaxError: invalid syntax (3495577266.py, line 3)